<!doctype html>
<html>
<head>
  <title>The Warheads</title>
</head>
<body>
  <h1>The Warheads</h1>

  <p>The Warheads were formed in 1990.<br />
  They record exclusively at RADICAL SOUND STUDIOS and THE TRENCHES.<br />
  All songs are Composed,Performed and Assembled by The Warheads<br />
  All songs are Produced by The Warheads<br />
  Music Published by: Drop the Bomb Music BMI 2016<br />
  Music Distribution by THE ORCHARD</p>

  <h2>Albums</h2>

  <ul>
    <% @albums.each do |album| -%>
      <li><a href="<%= album.slug %>.html"><%= album.title %> (<%= album.year %>)</a></li>
    <% end -%>
  </ul>

  <h2>Extended plays</h2>

  <h2>Singles</h2>

  <h2>Links</h2>

  <ul>
    <li><a href="https://soundcloud.com/jrs-1-1">The Warheads on SoundCloud</a></li>
    <li><a href="https://open.spotify.com/artist/31A5204h4HVxtz4OwgcAP6">The Warheads on Spotify</a></li>
    <li><a href="https://itunes.apple.com/us/artist/the-warheads/id287614299">The Warheads on Apple Music and iTunes</a></li>
    <li><a href="https://play.google.com/music/preview/Axzk4pl75txqjtdxr3eu52ru23e">The Warheads on Google Play Music</a></li>
    <li><a href="https://www.last.fm/music/The+Warheads">The Warheads on Last.fm</a></li>
    <li><a href="https://us.napster.com/artist/the-warheads">The Warheads on Napster</a></li>
    <li><a href="https://twitter.com/WarheadsProject">The Warheads on Twitter</a></li>
    <li><a href="https://vimeo.com/126870645">The Warheads on Vimeo</a></li>
  </ul>

  <footer>
    <small>Copyright © <%= Time.now.year %> The Warheads Projects. All rights reserved.</small>
  </footer>
</body>
</html>
