<!DOCTYPE html>
<html>
<head>
  <title>The Warheads</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="The Warheads are a San Francisco Bay Area production team. Although we are musicians, we specialize in the manipulation, re-arranging, and re-mixing of original compositions, unique sounds, and high-quality audio." />
  <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen" />
  <link rel="shortcut icon" href="static/images/favicon.png" />
</head>
<body>
  <div class="container">
    <div id="header">
      <div id="logo">
        <span>
          <a href="/">The Warheads</a>
        </span>
      </div>
    </div>

    <p>The Warheads were formed in 1990.<br />
    They record exclusively at RADICAL SOUND STUDIOS and THE TRENCHES.<br />
    All songs are Composed,Performed and Assembled by The Warheads<br />
    All songs are Produced by The Warheads<br />
    Music Published by: Drop the Bomb Music BMI 2016<br />
    Music Distribution by THE ORCHARD</p>

    <h2>About</h2>

    <p>The Warheads are a San Francisco Bay Area production team. Although we are musicians, we specialize in the manipulation, re-arranging, and re-mixing of original compositions, unique sounds, and high-quality audio.</p>

    <p>Recently we have combined elements of world music and computer-based audio electronics into our sound. Working in both old school Analog and new Digital mediums, we focus on the perception of depth and quality of sound within our mixes.</p>

    <p>We prefer real instruments rather than synthesized sounds. Most of the sounds on our projects start out as acoustic instruments recorded to Analog tape. After blending these tracks and sounds together, we further tweak the tracks before transferring them to Digital–giving us a more organic sound. Then, using the modern mixing elements of Dub and Electronica, we blend our sounds into the final mix.</p>

    <p>All of the musicians on our projects represent the finest and most creative in improvisational performers. Their contribution brings all of The Warheads music to life.</p>

    <p>Finally, Radical Sound Recording Studio and its support of The Warheads cannot go unmentioned. We also must acknowledge the time and effort of Ron K and his engineers; their work allowed each recording to sound its best.</p>

    <p>Since this site was started a year ago much has happened. Our projects have received airplay all over the world on various broadcast and Internet radio stations so first we would like to thank all of the programmers who were kind enough to present our tracks to a wider audience.</p>

    <p>We also received many great reviews for Funk n' Gandhi and Bandit Queen. You can check them out on Raves.com, jazzreview.com, Regenmag.com and properlychilled.com.</p>

    <p>This past summer we licensed 14 tracks to WATER MUSIC RECORDS. These tracks were released under the title TANTRA REMIXED. This is the reason they are no longer available for download on their projects pages. We do however continue to offer all the rest of our tracks and artwork free for downloading and are pleased that you have taken advantage of this. But we can no longer offer the CDs themselves. We have run out and have no plans at this point to manufacture any more for any of the projects.</p>

    <p>We are now in the studio working on new projects so check back for up dates. Please write us and tell us what you think and of course pass along our projects to anyone to whom you think would dig it. Ron K and myself would like to thank all of you for your support and interest in our work and we hope to have new tracks for you in '08.</p>

    <p>JRS 10/19/07</p>

    <p>Since our last update The WARHEADS have continued to release a number of projects 19 to date. These were all recorded at our second studio THE TRENCHES in San Francisco. All of theses projects are recorded and assembled using REASON 4 and REASON RECORD.</p>

    <p>Our newest RADICAL SOUND STUDIO project RE-IN-FUSION was released in April of 2010. And a second project is scheduled to be released later in 2010.</p>

    <p>We have also signed a digital distribution deal with BFM DIGITAL who has helped in making all of our projects(26) available at a number of on line music sites worldwide. The result of this is that we will no longer offer our project for free download as we have done for the past 5 years. If you as listeners enjoy our music projects then please support our efforts by purchasing a track or two. All of the proceeds go directly to paying the musicians that work on our projects.</p>

    <p>As always Ron K and myself thank all of our listeners for their continued support.</p>

    <p>-jrs 9-20-2010</p>

    <h2>Albums</h2>

    <ul>
      {% for album in albums %}
      <li><a href="{{ album.slug() }}.html">{{ album.title }} ({{ album.year() }})</a></li>
      {% endfor %}
    </ul>

    <h2>Links</h2>

    <ul>
      <li><a href="https://soundcloud.com/jrs-1-1">The Warheads on SoundCloud</a></li>
      <li><a href="https://open.spotify.com/artist/31A5204h4HVxtz4OwgcAP6">The Warheads on Spotify</a></li>
      <li><a href="https://itunes.apple.com/us/artist/the-warheads/id287614299">The Warheads on Apple Music and iTunes</a></li>
      <li><a href="https://play.google.com/music/preview/Axzk4pl75txqjtdxr3eu52ru23e">The Warheads on Google Play Music</a></li>
      <li><a href="https://www.last.fm/music/The+Warheads">The Warheads on Last.fm</a></li>
      <li><a href="https://us.napster.com/artist/the-warheads">The Warheads on Napster</a></li>
      <li><a href="https://twitter.com/WarheadsProject">The Warheads on Twitter</a></li>
      <li><a href="https://vimeo.com/126870645">The Warheads on Vimeo</a></li>
    </ul>

    <h2>Internet Radios and Podcasts</h2>

    <ul>
      <li><a href="http://globallyrelaxed.com">http://globallyrelaxed.com</a></li>
      <li><a href="http://www.bohemioradio.com">http://www.bohemioradio.com</a></li>
      <li><a href="http://www.carynorsworthy.com/podcasts.html">http://www.carynorsworthy.com/podcasts.html</a></li>
      <li><a href="http://smoothlounge.com">http://smoothlounge.com</a></li>
      <li><a href="http://loungingsound.com">http://loungingsound.com</a></li>
      <li><a href="http://mixdown911.com">http://mixdown911.com</a></li>
      <li><a href="http://www.beatconscious.org">http://www.beatconscious.org</a></li>
      <li><a href="http://www.live365.com/stations/lazee8?site=live365">http://www.live365.com/stations/lazee8?site=live365</a></li>
      <li><a href="http://www.anjibee.com">http://www.anjibee.com</a></li>
      <li><a href="http://www.playmisty.com">http://www.playmisty.com</a></li>
      <li><a href="http://www.daveslounge.com">http://www.daveslounge.com</a></li>
      <li><a href="http://www.belowzerobeats.com">http://www.belowzerobeats.com</a></li>
      <li><a href="http://cadencerevolution.com">http://cadencerevolution.com</a></li>
      <li><a href="http://www.mixcloud.com/beatconscious">http://www.mixcloud.com/beatconscious</a></li>
      <li><a href="http://worldfusionradio.com">http://worldfusionradio.com</a></li>
    </ul>

    <footer>
      <small>Copyright © 2020 The Warheads Projects. All rights reserved.</small>
    </footer>
  </div>
</body>
</html>
